<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>


<main>
    <div class="container">
        <h1>Aquí va el contenido</h1>
        <p>Más de lo mismo</p>
    </div>
</main>


<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>