<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="container">
        <!-- banner cabecera -->
<img src="https://raw.githubusercontent.com/lyvegama/imagenesVinilos/main/disenio/home/quienessomos.png" width="700" height="600">
<img src="https://raw.githubusercontent.com/lyvegama/imagenesVinilos/main/disenio/home/dondeestamos.png" width="700" height="600">
<img src="https://raw.githubusercontent.com/lyvegama/imagenesVinilos/main/disenio/home/envios.png" width="700" height="600">
    </div>
</main>